.send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    }

    .chat-input {
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;

    flex-grow: 1;
    }

    .chat-input-container {
    display: flex;
    margin-bottom: 60px;
    }
    .chat-messages-container {
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
    }

    .welcome-message {
    color: rgb(120, 120, 120);
    text-align: center;
    }